@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotron">
        <h1>Technology Reviews</h1>
        <p class="lead">Maecenas sed libero eu massa condimentum consectetur at sed felis.</p>
        <p><a href="http://localhost:60326/Reviews/Index" class="btn btn-primary btn-lg">Reviews for Tech Gadgets &raquo;</a></p>
        <p><a href="http://localhost:60326/Categories/Index" class="btn btn-primary btn-group-lg"> By Category &raquo;</a> </p>
    </div>
   